@{
    ViewData["Title"] = "Contact";
   
}
<h2>Contact</h2>
@{ 
    foreach (var item in (string[])TempData["var1"])
    {
    <h4>@item</h4>
    }
}

@*@{ 
    foreach (var item in (List<string>)TempData["var2"])
    {
    <h4>@item</h4>
    }
}*@