@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
@{
    foreach (var item in (string[])TempData["var1"])
    {
        <h4>@item</h4>
    }
}

@*@{
    foreach (var item in (list<string>)TempData["var2"])
    {
        <h4>@item</h4>
    }
}*@